html, body {margin:0; padding:0; width:780px;}
body {font-family:'Open Sans', 'Verdana', 'Sans-Serif' !important; font-size:12px; background-color:#fff; color:#555; padding-left:5px;}
div.emailtext {width:750px; padding-left:20px !important; background-color:#fff; color:#555; padding-top:10px; border-top:1px solid #ddd; font-size:12px;}

span.xlink {font-family:'Verdana', 'Sans-Serif'; position:absolute; top:5px; right:5px; padding:5px; color:#3830D1; font-size:16px; cursor:pointer;}

/* mail viewer */
#email_header_box {background-color:#fff !important; font-size:12px !important; color:#555 !important; padding:0; margin:0; padding-top:10px; margin-left:10px; margin-bottom:10px; width:780px;}
div.eheaderkey {float:left; width:75px; margin:0; text-align:right; font-weight:bold;}
div.eheadervalue {float:left; margin-left:5px; width:650px; text-align:left;}
div.altheader {width:700px; word-wrap:break-word; padding:0px 5px 5px 25px;}
div.altheader span:first-child {font-weight:bold;}
div.altheader span:last-child {margin-left:5px; word-wrap:break-word;}
div.headerspace {clear:both; height:5px;}

div.eheadervalue span.eactions {margin-right:20px; color:#0000cd; cursor:pointer;}
div.eheadervalue span.sendemail {font-size:14px; font-weight:bold;}
div.eheadervalue span.cancelemail {font-size:14px; font-weight:bold;}
div.eheadervalue select {font-size:12px;}
textarea.email_body, textarea.text_email_body {width:746px; border:1px solid #eee; margin:0; margin-bottom:20px; margin-left:20px; font-size:12px;}

input.toemails, input.ccemails, input.bccemails, input.emailsubject {width:700px; border:0; border-bottom:1px solid #eee; margin-top:0; font-size:12px;}

/* menu related items */
#dropmenudiv, .ddmenu {position:absolute; background-color:#eee; color:#444; border:1px solid #ddd; z-index:5; padding:0 10px 0 10px; border-radius:5px; top:10px; left:10px; font-size:12px;}
#dropmenudiv a, .ddmenu a, div.ddlink {display:block; text-decoration:none; padding:10px; cursor:pointer; border-bottom:1px solid #ddd; vertical-align:middle;}
div.ddmenu div:last-child {border-bottom:0;}
#dropmenudiv a:hover, .ddmenu a:hover, div.ddlink:hover {color:#000;}

div.imagecontainer {margin-bottom:5px;}
div.imagecontainer img {border:1px solid #aaa;}
div.images_loading_box {text-align:center; font-size:14px;}

/* autosuggest */
div.autosuggest_box {border:0; border-bottom:1px solid #eee; padding-top:0;}
div.suggestions_box {border:1px solid #aaa; background-color:#eee; position:absolute; padding:5px; border-radius:5px;}
span.autosuggest_bit {
    font-size:12px;
    cursor:text;
    background-color:#dee7f8;
    color:#333;
    border:1px solid #cad8f3;
    border-radius:9px;
    padding:0 4px 2px 4px;
    display:inline-block;
    margin-bottom:3px;
}
span.selected_bit { background-color:#cad8f3; }
span.autosuggest_spacer { background-color:#fff; }
span.autosuggest_spacer:hover { background-color:#aaa; }
input.autosuggest_blank { background-color:#fff; color:#999; border:0; margin-left:5px; }
span.autosuggest_bit_close { font-size:16px; font-weight:bold; cursor:pointer; color:#999; margin-left:4px; }
span.autosuggest_bit_close:hover { color:#000; }
div.as_suggestion { background-color:#eee; padding:5px; cursor:pointer; white-space:nowrap; }
div.as_selsug { background-color:#dee7f8; }
div.as_notice { background-color:#ccc; padding:5px; }

span.headercontactspacer {margin-right:10px;}
span.headercontact {cursor:pointer;}
span.headercontact:hover {color:#3830D1;}

